<div class="st-pos-0 st-size-full st-gradient-bg " id="st-settings-main-container">
  <div id="st-settings-aggr-container">
    <app-prof-pic id="avatar-container"></app-prof-pic>
    <app-prof-det id="setting-details-container"></app-prof-det>
  </div>
  <div></div>
  <div id="st-buttons-container">
    <input type="button" class="st-settings-control-btn" (click)="onSettingsSave()" value="Save" />
    <input type="button" class="st-settings-control-btn" (click)="onSettingsBack()" value="Back" />
  </div>
</div>
